<strong>Olá, {{ organizer }}</strong>
<p>Um usuário cancelou a inscrição no meetup {{ meetup }} :(</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail:</strong> {{ email}} <br />
</p>
